<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>VueJS Workshop</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>

    <div id="app" v-cloak>
      <ul>
        <li v-for="(t, i) in tasks" v-bind:key="t.id" v-on:click="editTask(t)">
          {{ t.task }} (Priority {{ i + 1 }})
        </li>
      </ul>

      <hr />
      <task-select v-model="editingTask" v-bind:list="tasks"></task-select>

      <hr v-show="editingTask" />
      <task-form v-if="editingTask" v-bind:task="editingTask" v-on:cancel="cancelEdit"></task-form>
    </div>

    <script id="task-select-template" type="text/html">
      <select v-model="internalValue">
        <option v-bind:value="null">[None]</option>
        <option v-for="t in list" v-bind:value="t" v-bind:key="t.id">
          {{t.task}}
        </option>
      </select>
    </script>

    <script id="task-form-template" type="text/html">
      <form v-on:submit.prevent="saveTask">
        <input type="text" v-model="formTask.task" />
        <input type="submit" />
        <a href="javascript:void(0);" v-on:click="cancelEdit">Cancel</a>
      </form>
    </script>

    <script src="https://unpkg.com/vue@2.2.4" type="text/javascript"></script>
    <script src="ajax.js" type="text/javascript"></script>
    <script src="code.js" type="text/javascript"></script>
  </body>
</html>
