[v-cloak] {
	display: none;
}

#app {
	width: 500px;
	margin: auto;
}

li {
	width: 400px;
}

.strikethrough {
	text-decoration: line-through;
}

.pointer {
	cursor: pointer;
}

body {
	 background-color: whitesmoke;
}
